@keyframes colorchange {
  0%,
  100% {
    background-color: #E1F5C4;
  }
  10% {
    background-color: #EDE574;
  }
  20% {
    background-color: #F9D423;
  }
  30% {
    background-color: #FC913A;
  }
  40% {
    background-color: #FF4E50;
  }
  50% {
    background-color: #A7226E;
  }
  60% {
    background-color: #2F9599;
  }
  70% {
    background-color:#A8E6CE;
  }
  80% {
    background-color:#DCEDC2;
  }
  90% {
    background-color: #E1F5C4;
  }
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* animation: colorchange 15s infinite; */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
